<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Perfil</h4>
                    <p class="category">Complete your profile</p>
                </div>
                <div class="card-content">
                    <form [formGroup]="userForm" novalidate>
                        <div class="row">

                            <div class="col-md-10">
                                    <app-input-container errorMessage="Campo Obrigatorio" label="Nome" [value]="status">
                                        <input class="form-control" formControlName="name" autocomplete="off">
                                    </app-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <app-input-container errorMessage="Campo Obrigatorio" label="E-mail" [value]="status">
                                    <input class="form-control" formControlName="email" autocomplete="off" >
                                </app-input-container>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <app-input-container errorMessage="Campo Obrigatorio" label="Matricula" [value]="status">
                                <input class="form-control" formControlName="matricula" autocomplete="off">
                            </app-input-container>
                        </div>
                        <!--<div class="col-md-4">-->
                            <!--<app-input-container errorMessage="Campo Obrigatorio" label="CPF">-->
                                <!--<input class="form-control" formControlName="cpf" autocomplete="off">-->
                            <!--</app-input-container>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                            <!--<app-input-container errorMessage="Campo Obrigatorio" label="Telefone">-->
                                <!--<input class="form-control" formControlName="telefone" autocomplete="off">-->
                            <!--</app-input-container>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                                <!--<h4>Sexo: </h4>-->
                                <!--<div class="radio">-->
                                    <!--<label>-->
                                        <!--<input type="radio" formControlName="sexo" value="Masculino"/>-->
                                        <!--Masculino-->
                                    <!--</label>-->
                                    <!--<label>-->
                                        <!--<input type="radio" formControlName="sexo" value="Feminino"/>-->
                                        <!--Feminino-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <button (click)="getUser()" class="btn btn-danger pull-right">Atualizar Perfil</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/faces/marc.jpg" />
                    </a>
                </div>

                <div class="content">
                    <h6 class="category text-gray">CEO / Co-Founder</h6>
                    <h4 class="card-title">Alec Thompson</h4>
                    <p class="card-content">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>
                    <a  class="btn btn-danger btn-round">Follow</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
