.li-icon-align{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -2px;
    background-color: #fff;
    cursor: pointer;
}
.li-icon-align>.icon-position {
    float: left;
}
.icon-position{
    display: inline-block;
    min-width: 10px;
    padding: 0px 0px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 20px;
}
