<div class="main-content">
    <div class="row">
        <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
                <i class="material-icons">content_copy</i>
            </div>
            <div class="card-content">
                <p class="category">Questões Selecionadas</p>
                <h3 class="title">49/50<small>GB</small></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Categorias</h3>
                            <div class="col-md-12">
                                <ul class="list-group"*ngFor="let areas_conhecimento of areas_conhecimentos; let i = index">
                                    <li class="li-icon-align"  (click)="dropDown(areas_conhecimento.id)" (dblclick)="selected(areas_conhecimento)">
                                        <i class="icon-position material-icons">{{ (areas_conhecimento.id === idSelected) ? 'remove' : 'add' }}</i> {{ areas_conhecimento.area_de_conhecimento }}
                                    </li>
                                        <ul *ngIf="areas_conhecimento.id === idSelected" >
                                            <li  *ngFor="let subcategoria of areas_conhecimento.sub_categoria_id; let i = index" class="li-icon-align" (dblclick)="selected(subcategoria)">
                                                {{ subcategoria.area_de_conhecimento }}
                                            </li>

                                        </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>