
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card card-nav-tabs" >
                    <div class="card-header" data-background-color="purple">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Menu:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#profile" data-toggle="tab">
                                            <i class="material-icons">bug_report</i>
                                            Cadastro de Questão
                                            <div class="ripple-container"></div></a>
                                    </li>
                                    <li class="">
                                        <a href="#messages" data-toggle="tab" (click)="getQuestaoProf()">
                                            <i class="material-icons">code</i>
                                            Minhas Questões
                                            <div class="ripple-container"></div></a>
                                    </li>
                                    <li class="">
                                        <a href="#settings" (click)="getAllQuestao()" data-toggle="tab">
                                            <i class="material-icons">cloud</i>
                                            Todas Questões
                                            <div class="ripple-container"></div></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <app-questao-form></app-questao-form>
                            </div>
                            <div class="tab-pane" id="messages">
                               <app-questao-list [questoes]="questoes" (edit)="edit($event)"
                                                  (delete)="delete($event)"></app-questao-list>
                            </div>
                            <div class="tab-pane" id="settings">
                                <app-questao-list-all [questoesAlls]="questoesAlls" (edit)="edit($event)"
                                                  (delete)="delete($event)"></app-questao-list-all>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>