<nav class="navbar navbar-transparent  navbar-fixed-top navbar-color-on-scroll" >
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a href="http://www.creative-tim.com">
        <div class="logo-container">
          <div class="logo">
            <!-- <img src="" alt="Creative Tim Logo"> -->
          </div>
          <div class="brand">
            IFTO
          </div>
        </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse text-center">
      <ul class="nav navbar-nav navbar-center">
        <li>
          <div class="navbar-title hidden text-center">
            <h4>
              <div class="image-container">
                <img src="../src/assets/img/angular2-logo-red.png" alt="Angular2 Logo">
              </div>
              Banco de Questoes
            </h4>
          </div>
        </li>
      </ul>
      <ul  class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/cadastro" class="btn btn-danger btn-round">Registre-se</a>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="page-header header-filter" style="background-image: url('../../assets/img/cover.jpeg');">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <div class="image-header">
          <img src="../src/assets/img/angular2-logo-red.png">
        </div>

        <h1 class="title">Banco de Questões</h1>
        <h3 class="sub-title">Estatisticas</h3>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="section">
    <div class="container">
      fewfwe
    </div>
  </div>
</div>