<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Professor</th>
        <th>
            Categoria
        </th>
        <th>
            Enunciado
        </th>
        <th>
            Nivel
        </th>
        <th>Created at</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let questoesAll of questoesAlls">
        <td>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsCheckboxes" value="{{questoesAll.id}}">
                </label>
            </div>
        </td>
        <td>{{questoesAll.professor_id.nome_prof}}</td>
        <td>{{questoesAll.disciplina_id.area_de_conhecimento}}</td>
        <td>{{questoesAll.enunciado}}</td>
        <td>{{questoesAll.nivel}}</td>
        <td>{{questoesAll.created_at}}</td>

        <td class="td-actions text-right">


        </td>

    </tr>
    </tbody>
</table>